<div class="h-screen bg-[#F7F1E1] flex flex-col">
  <div class="flex flex-col flex-1">
    <!-- Title Picture Section -->
    <header class="h-[20%] flex items-center justify-center w-full md:pt-4 lg:pt-4 md:pb-6 lg:pb-6">
      <app-title-picture [title]="pageTitle"></app-title-picture>
    </header>

    <!-- Login Form Section -->
    <div class="h-[65%] flex items-center w-full px-4 sm:px-6 lg:px-8">
      <div class="w-full h-full ipad-pro:max-w-6xl max-w-2xl mx-auto">
        <!-- Login Form Container -->
        <div
            class="h-full w-full flex flex-col justify-center bg-white/50 backdrop-blur-sm rounded-lg shadow-xl py-10 p-6 md:p-12 lg:p-12"
        >
          <!-- Form content remains the same -->
          <div class="text-center mb-6 sm:mb-8">
            <h2
                class="font-display text-3xl iphone-SE:text-2xl ipad-pro:text-6xl text-gray-800"
            >
              Добре дошли
            </h2>
            <p
                class="mt-2 sm:mt-4 font-body ipad-pro:text-4xl text-lg sm:text-xl text-gray-600"
            >
              Моля, влезте с вашите данни
            </p>
          </div>

          <form class="" (ngSubmit)="onSubmit($event)">
            <!-- Toggle Login Method -->
            <div class="flex justify-center space-x-4">
              <button
                  type="button"
                  (click)="toggleLoginMethod('names')"
                  [class.bg-pink-100]="loginMethod === 'names'"
                  class="ipad-pro:text-2xl text-sm px-4 py-2 rounded-md font-body text-gray-700 hover:bg-pink-50"
              >
                Име и Фамилия
              </button>
              <button
                  type="button"
                  (click)="toggleLoginMethod('email')"
                  [class.bg-pink-100]="loginMethod === 'email'"
                  class="ipad-pro:text-2xl text-sm px-4 py-2 rounded-md font-body text-gray-700 hover:bg-pink-50"
              >
                Имейл
              </button>
            </div>

            <!-- Names Login Fields -->
            <ng-container *ngIf="loginMethod === 'names'">
              <div>
                <div>
                  <label
                      for="firstName"
                      class="ipad-pro:text-3xl ipad-pro:mt-7 mt-2 block font-body text-sm font-medium text-gray-700"
                  >
                    Име
                  </label>
                  <input
                      id="firstName"
                      name="firstName"
                      type="text"
                      required
                      [(ngModel)]="firstName"
                      class="border-b border-gray-400 w-full bg-transparent rounded-none px-3 py-0.5 md:py-2 lg:py-2 focus:outline-none focus:border-pink-500"
                  />
                </div>

                <div>
                  <label
                      for="lastName"
                      class="ipad-pro:text-3xl ipad-pro:mt-7 mt-2 block font-body text-sm font-medium text-gray-700"
                  >
                    Фамилия
                  </label>
                  <input
                      id="lastName"
                      name="lastName"
                      type="text"
                      required
                      [(ngModel)]="lastName"
                      class="border-b border-gray-400 w-full bg-transparent rounded-none px-3 py-0.5 md:py-2 lg:py-2 focus:outline-none focus:border-pink-500"
                  />
                </div>
              </div>
            </ng-container>

            <!-- Email Login Field -->
            <ng-container *ngIf="loginMethod === 'email'">
              <div>
                <label
                    for="email"
                    class="ipad-pro:text-3xl ipad-pro:mt-7 mt-2 block font-body text-sm font-medium text-gray-700"
                >
                  Имейл
                </label>
                <input
                    id="email"
                    name="email"
                    type="email"
                    required
                    [(ngModel)]="email"
                    class="border-b border-gray-400 w-full bg-transparent rounded-none px-3 py-0.5 md:py-2 lg:py-2 focus:outline-none focus:border-pink-500"
                />
              </div>
            </ng-container>

            <div>
              <label
                  for="password"
                  class="ipad-pro:text-3xl ipad-pro:mt-7 mt-2 block font-body text-sm font-medium text-gray-700"
              >
                Парола
              </label>
              <input
                  id="password"
                  name="password"
                  type="password"
                  required
                  [(ngModel)]="password"
                  class="border-b border-gray-400 w-full bg-transparent rounded-none px-3 py-0.5 md:py-2 lg:py-2 focus:outline-none focus:border-pink-500"
              />
            </div>

            <div class="ipad-pro:my-10 my-3 flex items-center justify-end">
              <div>
                <a
                    href="#"
                    class="ipad-pro:text-3xl font-body text-sm text-pink-600 hover:text-pink-500"
                >
                  Забравена парола?
                </a>
              </div>
            </div>

            <button
                type="submit"
                class="ipad-pro:text-3xl ipad-pro:my-10 my-2 w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500"
            >
            Вход
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Spacer to push footer down -->
    <!-- <div class="flex-1"></div> -->

    <!-- Footer Section -->
    <div
        class="h-[15%] flex items-center justify-center text-center pt-6 pb-3 md:py-12 lg:py-12"
    >
      <div
          class="ipad-pro:text-7xl text-4xl md:text-5xl lg:text-5xl tracking-[0.2em] light text-gray-800"
      >
        A&M
      </div>
    </div>
  </div>
</div>