<section
    id="honor-family"
    class="h-full flex items-center justify-center bg-gradient-to-b bg-[#F7F1E1] to-gray-50"
>
  <div
      class="my-5 w-[1160px] max-w-[1160px] flex flex-col items-center justify-center gap-8"
  >
    <div class="w-full">
      <!-- Title Section -->
      <div class="mb-5 md:mb-24 lg:mb-24 text-center">
        <p class="text-xl text-gray-500 tracking-wide uppercase">
          About Bride & Groom
        </p>
        <h2 class="text-6xl text-pink-500 font-cursive my-2">Bride & Groom</h2>
      </div>

      <!-- Content Section -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center mt-8">
        <!-- Text Content -->
        <div class="px-5 text-center md:text-left">
          <h2 class="text-5xl font-cursive text-pink-500">Leonardo Agustus</h2>
          <p class="text-2xl text-gray-600 mt-4">
            {{ honorFamilyInfo.description }}
          </p>
        </div>

        <!-- Image Section -->
        <div class="flex justify-center">
          <div class="p-2 inline-block">
            <picture class="mx-auto block w-[80%] h-[45vh]">
              <source
                  media="(min-width: 1024px)"
                  [srcset]="honorFamilyInfo.imageSrc.large"
              />
              <source
                  media="(min-width: 640px)"
                  [srcset]="honorFamilyInfo.imageSrc.medium"
              />
              <img
                  [src]="honorFamilyInfo.imageSrc.small"
                  [alt]="honorFamilyInfo.imageAlt"
                  class="border-8 border-pink-300 w-full h-full object-cover"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
